@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --primary-blue: #12229D;
    --bg-main: #f1f1f1;
    --large-font: 48px;
    --medium-font: 32px;
    --small-font: 16px;
    --task-completed-green: #379C2F;
    --task-completed-green-light: rgba(59, 219, 41, 0.2);
    --task-postponed-yellow: rgba(253, 158, 46, 1);
    --task-postponed-yellow-light: rgba(253, 158, 46, 0.2);
    --task-completed-green-light: rgba(59, 219, 41, 0.2);
    --task-pending-blue: rgba(92, 182, 249, 1);
    --task-pending-blue-light: rgba(92, 182, 249, 0.2);
    --task-late-pinkish: rgb(251, 118, 118);
    --task-late-pinkish-light: rgba(251, 118, 118, 0.2);
    --task-priority-high: rgb(254, 4, 4);
    --task-priority-medium: rgba(255, 195, 0, 1);
    --task-priority-low: rgb(177, 7, 220);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inclusive Sans', sans-serif;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

.dark * {
    color: white;
    background: #202123;
}

body {
    height: 100%;
    width: 100%;
    background: var(--bg-main);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    height: 100vh;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    padding: 20px 0;
}

.navbar .links,
.navbar .logout {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.navbar.active {
    width: 300px;
}

.navbar i {
    font-size: 24px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.toggle {
    position: relative;
}

.navbar .links a,
.navbar .logout a,
.toggle>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding-right: 15px;
}

.search-container {
    background: #fff;
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
}

.search-container:hover>.search-input {
    width: 200px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search-container .search-btn .fas {
    color: var(--primary-blue);
}

#theme-toggle {
    cursor: pointer;
    padding: 11px 13px;
    border-left: 1px solid #00000064;
    box-shadow: 1px 3px 10px #00000064;
    border-radius: 100%;
    margin-left: 20px;
    transform: translateX(10px);
}


/*@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}*/

.search-container:hover {
    animation: hoverShake 0.15s linear 3;
}

a>i,
div>i {
    margin: 8px;
}

.navbar p {
    /*display: none;*/
    transition: all 0.3s ease-in-out;
    color: black;
}

.navbar.active p {
    transition: all 0.3s ease-in-out;
}

.main-content {
    margin-left: 80px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

.main-content .bar-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.bar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.magic {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.magic i {
    display: none;
}

.section {
    display: none;
    transition: all 0.3s ease-in-out;
}

.section.active {
    display: block;
    transition: all 0.3s ease-in-out;
}

a.active,
a.active i,
a.active p {
    color: var(--primary-blue);
    background: var(--bg-main);
}


/* Media query for screens smaller than 786px */

@media screen and (max-width: 1024px) {
    .navbar.active {
        width: 70%;
    }
    .navbar i {
        font-size: 22px;
    }
    .navbar::-webkit-scrollbar {
        display: none;
    }
    .navbar p {
        font-size: 18px;
        margin-left: 10px;
    }
    .bar-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-content .bar-search h1 {
        font-size: var(--medium-font);
    }
    .main-content .section>h1 {
        font-size: var(--medium-font);
    }
    .main-content .section>p {
        font-size: var(--small-font);
    }
    .search-container:hover>.search-input {
        width: 125px;
    }
    .magic i {
        margin: 35px 0 10px -5px;
        font-size: 32px;
        display: block;
        cursor: pointer;
    }
    .navbar {
        width: 0;
    }
    .main-content {
        margin-left: 30px;
    }
}

@media screen and (max-width: 441px) {
    .navbar.active {
        width: 70%;
        z-index: 100000000;
    }
    .navbar i {
        font-size: 22px;
    }
    .navbar::-webkit-scrollbar {
        display: none;
    }
    .navbar p {
        font-size: var(--small-font);
        margin-left: 10px;
    }
    .main-content .bar-search h1 {
        font-size: 22px;
        padding: 15px 0;
    }
    .main-content .section>h1 {
        font-size: 22px;
    }
    .main-content .section>p {
        font-size: var(--small-font);
    }
    .main-content {
        margin-left: 20px;
    }
    .magic i {
        margin: 65px 0 10px -5px;
    }
}


/*Styles for the task list page*/

.magic h1 {
    padding: 10px 0;
}

.magic h1>p {
    transform: translateX(7px);
}

.colors {
    width: 100%;
    margin: 0px 0;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-bottom: 1px solid #0000004e;
    place-items: center;
    gap: 10px;
}

.colors .card-colors {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

svg {
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
}

svg:hover {
    background: rgba(172, 172, 173, 0.211);
}

.colors .card-colors h2 {
    padding: 10px 0;
}

.colors .card-colors p {
    padding: 10px 0;
    line-height: 145%;
}

#code1>h2 {
    color: var(--task-completed-green);
}

#code1:hover {
    background: var(--task-completed-green-light);
}

#code2>h2 {
    color: var(--task-pending-blue);
}

#code2:hover {
    background: var(--task-pending-blue-light);
}

#code3>h2 {
    color: var(--task-postponed-yellow);
}

#code3:hover {
    background: var(--task-postponed-yellow-light);
}

#code4>h2 {
    color: var(--task-late-pinkish);
}

#code4:hover {
    background: var(--task-late-pinkish-light);
}

.colors .card-colors .img {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    background: transparent;
}

.colors .card-colors .img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.colortxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
}

.colortxt p {
    line-height: 140%;
    font-size: 19px;
}

.date-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px 0;
    padding: 20px;
}

.date-filter .date {
    padding: 10px 0;
}

.date-filter .date p {
    font-size: 19px;
    margin-bottom: 12px;
}

.date-filter .date h2 {
    margin-bottom: 12px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 8px;
    place-items: center;
    padding: 35px;
}

.categories .card .card-head>p,
.categories .card-head strong {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.categories .Description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.categories .card {
    height: 300px;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
    background-image: linear-gradient(135deg, #ffffff 0%, #d3c9d4 100%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3px);
    background-image: linear-gradient(110deg, #fbfbfb 0%, #ececec 100%);
}

.card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-head span {
    transition: 0.3s;
    border-radius: 100%;
    cursor: pointer;
    padding: 5px;
}

.card-head span:hover {
    background: #d1d1d15b;
}

.card a {
    color: var(--primary-blue);
    font-size: 14px;
    padding: 7px;
    border-bottom: 1px solid rgba(0, 0, 255, 0.281);
}

.card-footer {
    font-size: 0.65em;
    color: #446;
    margin-bottom: 20px;
}

.tasks {
    width: 95%;
    margin: 10px 0;
    padding: 20px;
}

.task.completed>a {
    border-left: 10px solid var(--task-completed-green);
}

.task.completed:hover {
    background: var(--task-completed-green-light);
}

.task.postponed>a {
    border-left: 10px solid var(--task-postponed-yellow);
}

.task.postponed:hover {
    background: var(--task-postponed-yellow-light);
}

.task.pending>a {
    border-left: 10px solid var(--task-pending-blue);
}

.task.pending:hover {
    background: var(--task-pending-blue-light);
}

.task.late>a {
    border-left: 10px solid var(--task-late-pinkish);
}

.task.late:hover {
    background: var(--task-late-pinkish-light);
}

.task a {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.304);
    border-top: 1px solid rgba(0, 0, 0, 0.304);
    border-bottom: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
}

.heading .second.high-priority {
    background: var(--task-priority-high);
}

.heading .second.medium-priority {
    background: var(--task-priority-medium);
}

.heading .second.low-priority {
    background: var(--task-priority-low);
}

.tasks .task .heading {
    display: flex;
    align-items: center;
}

.heading .first {
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
}

.heading .second {
    padding: 10px;
    color: white;
    background: var(--task-priority-high);
    border-radius: 10px;
}

.task a>p {
    color: rgba(0, 0, 0, 0.525);
    margin: 5px 0;
}


/*Create category css*/

#create-category {
    padding: 20px;
    margin-top: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    min-height: 80%;
    min-width: 60%;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 3px 3px 100px 2px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 10px;
}

.input-form h2 {
    font-family: "Lato", sans-serif;
    margin: 13px 0;
    font-size: 27px;
    font-weight: 700;
}

.input-form p {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.input-form label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 0;
    color: var(--primary-blue);
}

.input-form>div {
    display: flex;
    flex-direction: column;
}

.input-form input,
.input-form textarea,
.category-drop select,
option,
.input-form select {
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    line-height: 145%;
}

.input-form .submit-button {
    min-width: 70%;
    padding: 12px;
    background: var(--primary-blue);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-top: 15px;
    font-weight: 800;
    cursor: pointer;
}


/*Create Task css */

#create-task {
    padding: 20px;
    margin-top: 10px;
}

#detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#detail .container {
    cursor: pointer;
}

#detail .container input {
    display: none;
}

#detail .container svg {
    overflow: visible;
}

#detail .path-c {
    fill: none;
    stroke: var(--task-completed-green);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

#detail .path-p {
    fill: none;
    stroke: var(--task-postponed-yellow);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

#detail .container input:checked~svg .path-c,
#detail .container input:checked~svg .path-p {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.Edit {
    padding: 12px;
    background: #2f7b2a;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-top: 10px;
    font-weight: 800;
    cursor: pointer;
}

.Delete {
    padding: 12px;
    background: rgb(223, 54, 31);
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-top: 10px;
    font-weight: 800;
    cursor: pointer;
}

.tohome {
    display: flex;
    margin: 10px 0;
    transform: translateY(-8px);
    font-size: 17px;
    padding: 10px;
}

.tohome span {
    margin-right: 7px;
}

.details {
    padding: 20px;
    border-radius: 5px;
    border-left: 1px solid #00000020;
    border-bottom: 1px solid #00000020;
}

.details h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.details .text {
    display: flex;
    flex-direction: column;
}

.details .text p {
    margin: 5px 0;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #00000020;
}

.Edit,
.Delete {
    margin-top: 30px;
    margin-right: 15px;
}

.check {
    padding: 10px;
}

.set-completed {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 10px;
    border-bottom: 1px solid #00000020;
}

.set-postponed {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 10px;
}

.set-postponed p,
.set-completed p {
    transform: translateY(-4px);
}

.set-postponed label,
.set-completed label {
    margin-right: 15px;
}

.others form {
    display: flex;
    flex-direction: row;
}

.error {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(246, 44, 44, 0.7);
    color: white;
    margin: 10px 0;
}


/*Calendar Css*/

#CALENDAR {
    padding: 20px;
    margin-top: 10px;
}

#CALENDAR::-webkit-scrollbar {
    display: none;
}


/* Increase the font size for the date text */

.fc-daygrid-day-number {
    font-size: 20px;
}


/* Increase the padding around the date tiles */

.fc-daygrid-day {
    padding: 10px;
    cursor: pointer;
    /* Change cursor to pointer on hover */
}


/* Increase the line height for the date text */

.fc-daygrid-day-events {
    line-height: 2;
}


/* Define hover effect for date tiles */

.fc-day:hover {
    background-color: rgb(229, 229, 229);
    /* Change background color on hover */
}


/*Stats page */

#stats {
    padding: 20px;
    margin-top: 10px;
}

.Stats h1,
.Stats h2 {
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.Stats p {
    font-size: 18px;
    margin: 10px 0;
}

.popup h2 {
    margin-bottom: 20px;
}

.circles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.element {
    width: 250px;
    height: 150px;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.element span {
    font-size: 50px;
}

.circles .element.completed {
    background: var(--task-completed-green);
}

.circles .element.postponed {
    background: var(--task-postponed-yellow);
}

.circles .element.late {
    background: var(--task-late-pinkish);
}

.circles .element.pending {
    background: var(--task-pending-blue)
}

.circles .element .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circles .element .count>span {
    font-size: 30px;
    font-weight: bold;
}

.chart-container div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.chart-container canvas {
    cursor: pointer;
    margin: 10px 0;
}

.group1 {
    width: 100%;
    display: flex;
}

.group1 .plt2 {
    margin-left: 200px;
}

.chart-container>h2 {
    padding: 20px 0;
}

.chart-container {
    padding: 20px;
    margin: 10px 0;
}

.chart-container #dailyCompletedTasksChart {
    max-width: 700px;
    max-height: 600px;
}

.group1 #taskStatusDistributionChart {
    max-width: 400px;
    max-height: 400px;
}

.group1 #taskPriorityDistributionChart {
    max-width: 500px;
    max-height: 500px;
}

.chart-container #categoryTaskDistributionChart {
    max-width: 400px;
    max-height: 400px;
}

.chart-container #taskOverdueStatusChart {
    max-width: 400px;
    max-height: 400px;
}

.chart-container #categoryTaskDistributionChart {
    max-width: 400px;
    max-height: 400px;
}

.chart-container #taskOverdueStatusChart {
    max-width: 500px;
    max-height: 500px;
}