{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href={% static 'core/css/loading.css' %}>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="Content w3-center">
        <div class="Logo">
            <img class="w3-mobile" src={% static "core/Resources/Rocket Cloud Logo.png" %} alt="Task Craft Rocket Logo" width='300px' height="300px">
        </div>
        <div class="Loader">
            <div class="loader">
            </div>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'core:actual_home' %}";
        }, 5000); // Redirect after 2 seconds (adjust as needed)
    </script>
</body>
</html>
