{% extends 'tasks/tasks_base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title%}
    <title>{{category.name}}</title>
{% endblock%}

{% block category_detail %}
    <a href="{% url 'tasks:task-list' %}" class="tohome"><span class="material-symbols-outlined">arrow_back</span> Back to Home</a>
    <div class="details">
        <h1>{{ category.name }} Details</h1>
        <div class="text">
            <p><strong>Category Name :</strong> {{ category.name }}</p>
            <p><strong>Category Description :</strong> {{ category.description }}</p>
            <p><strong>Date of Creation :</strong> {{ category.created_at }}</p>
            <p><strong>Task Count:</strong> {{ category.get_task_count }}</p>
            <p><strong>Task Distribution</strong></p>
        </div>
        <div class="chart">
            <canvas id="donutChart" width="200" height="200"></canvas>
        </div>   
    </div>
    <div class="others">
        <a href="{% url 'tasks:edit-category' category.id %}"><button type="button" class="Edit">Edit Category</button></a>
        <a href="{% url 'tasks:delete-category' category.id %}"><button type="button" class="Delete">Delete Category</button></a>
    </div>
    <script>
        // Get the completion data from your Django template variables
        var completedTasks = {{ completed_num }};
        var pendingTasks = {{ pending_num }};
        var lateTasks = {{ late_num }};
        var postponedTasks = {{ postponed_num }};
        console.log(completedTasks,pendingTasks,lateTasks,postponedTasks);
    
        // Create the donut chart
        var ctx = document.getElementById('donutChart').getContext('2d');
        var donutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Completed', 'Pending', 'Late', 'Postponed'],
                datasets: [{
                    data: [completedTasks, pendingTasks, lateTasks, postponedTasks],
                    backgroundColor: ['#379C2F', 'rgba(92, 182, 249, 1)','rgb(251, 118, 118)', 'rgba(253, 158, 46, 1)'],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        });
    </script>
{%endblock%}
    