{% extends 'tasks/tasks_base.html' %}

{% block title%}
    <title>{{Category.name}}</title>
{% endblock%}

{% block task_detail%}
    <a href="{% url 'tasks:task-list' %}"><span class="material-symbols-outlined">arrow_back</span> Back to Home</a>
    <div class="details">
        <h1>{{ Category.name }} Details</h1>
        <p><strong>Description :</strong> {{ category.description }}</p>
        <p><strong>Date of Creation :</strong> {{ category.created_at }}</p>
        <p><strong>Number of Tasks:</strong> {{ category.get_task_count }}</p>
        <p><strong>Number of Completed Tasks:</strong> {{ category.get_completed_task_count }}</p>
        <p><strong>Number of Pending Tasks:</strong> {{ category.get_completion_count.pending }}</p>
        <p><strong>Stats:</strong> {{ category.get_completion_count }}</p>
    </div>
    <div class="others">
        <a href="{% url 'tasks:edit-category' category.id %}"><button type="button" class="w3-btn">Edit Category</button></a>
        <a href="{% url 'tasks:category-detail' category.id %}"><button type="button" class="w3-btn">Delete Category</button></a>
    </div>
{%endblock%}
    