{%extends 'tasks/tasks_base.html' %}

{% block delete_category%}
    <div class="details">
        <h1>Delete Task</h1>
        <div class="text">
            <p style="border-bottom:none;line-height:165%;">Are you sure you want to delete "{{ task.name }}"?<br> After deleting there is no way to recover task and files attached to it. Click delete button to delete task.</p>
        </div>
    </div>
    <div class="others">
        <form method="post">
            <a href="{% url 'tasks:task-detail' task.id %}" class="Edit">Cancel</a>
            {% csrf_token %}
            <button type="submit" class="Delete">Delete</button>
        </form>
    </div>
{% endblock%}

{%extends 'tasks/tasks_base.html' %}



