{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Task Manager Application, the best way for you to remain organized and boost your productivity.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Craft</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.6/simplebar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.6/simplebar.min.js"></script>
    <link rel="stylesheet" href={% static 'tasks/css/base.css' %}>
    <link rel="icon" href="{% static 'core/Resources/Task Craft Logo.png' %}" type="image/png" size="64x64">
</head>

<body>
    <div class="navbar" id="navbar">
        <div class="toggle">
            <div>
                <i class='bx bx-menu' id="menu-btn"></i>
                <p>Close</p>
            </div>
        </div>
        <div class="links">
            <a href={% url 'tasks:task-list' %} class="active" data-section="summary">
                <i class="material-icons">apps</i>
                <p>Summary</p>
            </a>
            <a href={% url 'tasks:create-category' %} data-section="create-category">
                <i class='material-icons'>library_add</i>
                <p>Category</p>
            </a>
            <a href={% url 'tasks:create-task' %} data-section="create-task">
                <i class='material-icons'>assignment_add</i>
                <p>Task</p>
            </a>
            <a href="#" data-section="calendar">
                <i class='material-icons'>calendar_month</i>
                <p>Calendar</p>
            </a>
            <a href="#" data-section="stats">
                <i class='bx bx-bar-chart-alt-2'></i>
                <p>Stats</p>
            </a>
            <a href="#" data-section="help">
                <i class='material-icons'>help</i>
                <p>Help</p>
            </a>
            <a href="#" data-section="profile">
                <i class='material-icons'>person</i>
                <p>Profile</p>
            </a>
        </div>
        <div class="logout">
            <a href={% url 'users:logout' %} data-section="logout">
                <i class='material-icons'>logout</i>
                <p>logout</p>
            </a>
        </div>
    </div>
    <div class="main-content">
        <div class="bar-search">
            <div class="magic">
                <i class='bx bx-menu' id="menu-btn"></i>
                <h1>Hello {{user_name}}</h1>
            </div>
            <div class="search-container">
                <input type="text" name="search" placeholder="Search..." class="search-input">
                <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
        <div class="section active" id="summary">
            <h1>Here will be my task list</h1>
            
        </div>
        <div class="section" id="create-category">
            <h1>Welcome to the category creation!</h1>
            <p>This is the cat creation section of my website.</p>
        </div>
        <div class="section" id="create-task">
            <h1>Welcome to the task-creation page!</h1>
            <p>This is the task creation section of my website.</p>
        </div>
        <div class="section" id="calendar">
            <h1>Welcome to the calendar page!</h1>
            <p>This is the calendar section of my website.</p>
        </div>
        <div class="section" id="stats">
            <h1>Welcome to the stats page!</h1>
            <p>This is the stats section of my website.</p>
        </div>
        <div class="section" id="help">
            <h1>Welcome to the help page!</h1>
            <p>This is the help section of my website.</p>
        </div>
        <div class="section" id="profile">
            <h1>Welcome to the profile page!</h1>
            <p>This is the profile section of my website.</p>
        </div>
        <div class="section" id="logout">
            <h1>Welcome to the logout page!</h1>
            <p>This is the logout section of my website.</p>
        </div>
    </div>

    <script src={% static 'tasks/js/base.js' %}></script>
</body>

</html>