{% extends 'users/base_connect.html' %}

{%block content%}
<form class="input-form w3-animate-right" style="margin-bottom:40px;font-weight:bold;" method="post">
    <h2 class="registration-title">Login Form</h2>
    {% csrf_token %}
    <input type="email" class="input-field" placeholder="Email" name="email">
    <input type="password" class="input-field" placeholder="Password" name="password1">
    <button type="submit" class="submit-button w3-btn">Submit</button>
    <p class="account-text" style="margin-top:20px;">Don't have an account yet ? <a href={% url 'users:register' %}>Create one</a></p>
</form>
{%endblock%}