{% extends 'users/base_connect.html' %}

{% block title %}
Connect
{% endblock %}

{%block head%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{%endblock%}

{% block content %}
<form class="input-form w3-animate-right" style="margin-bottom: 40px; font-weight: bold;" method="post">
    <h2 class="registration-title">Login Form</h2>
    {% csrf_token %}
    
    <!-- Email -->
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid email.</div>
    </div>
    
    <!-- Password -->
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
    </div>
    
    <!-- Submit Button -->
    <button type="submit" class="submit-button w3-btn">Submit</button>
    
    <!-- Don't have an account -->
    <p class="account-text" style="margin-top: 20px;">Don't have an account yet? <a href="{% url 'users:register' %}">Create one</a></p>

    <!--Messages from django-->
    {% if messages %}
    <div id="messages">
        {% for message in messages %}
        <div class="Alert {% if message.tags %} Alert-{{ message.tags }} {% endif %}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}
